POSTGRES_DB_MAINTENANCE_NAME=postgres
POSTGRES_DB_USER=odoo
POSTGRES_DB_PASSWORD=odoo
PGADMIN_DEFAULT_EMAIL=info@studio128k.com
PGADMIN_DEFAULT_PASSWORD=7sBbkYK9w3QuEWLd3q
PGADMIN_LISTEN_PORT=8080
LETSENCRYPT_EMAIL=info@studio128k.com